{% extends 'base.html' %}
{% load my_tags %}

{% block title %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блоги</h1>
    <a type="button" class="btn active" href="{% url 'blogs:create_blog' %}">Создать запись</a>
</div>
{% endblock %}

{% block content %}
<div class="row text-center">
{% for blog in object_list %}
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img src="{{ blog.image | media_filter }}" class="card-img-top" alt="{{ blog.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">{{ blog.content }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Описание: {{ blog.content }}</li>
        <li class="list-group-item">Просмотры: {{ blog.views }}</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'blogs:details_blog' blog.pk %}" class="card-link">Посмотреть</a>
      </div>
    </div>
    </div>
{% endfor %}
 </div>
{% endblock %}